<div class="container nopad" [@fadeAnimation]>
    <div class="row">
      <div class="col-lg7 col-md-7 col-sm-7 col-xs-12 nopad">
          <img width="100%" src="{{ theGnome.thumbnail }}" alt="Card image cap">
      </div>
      <div class="col-lg5 col-md-5 col-sm-5 col-xs-12 nopad">
          <div class="bg-dark title">{{ theGnome.name }}</div>
          <div class="info">
              <span class="literal">Weight: </span><span>{{ theGnome.weight }}</span>
          </div>
          <div class="info">
            <span class="literal">Height: </span><span>{{ theGnome.height }}</span>
          </div>
          <div class="info">
            <span class="literal">Age: </span><span>{{ theGnome.age }}</span>
          </div>
          <div class="info">
            <span class="literal">Professions: </span><span>{{ theGnome.professions.join('-') }}</span>
        </div>
        <div class="info">
            <span class="literal">Hair Color: </span><span>{{ theGnome.hair_color }}</span>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="bg-dark friends">Friends!</div>
        <div class="card-columns">
            <app-neighbours *ngFor="let item of theFriends" [neighbour]="item"></app-neighbours>
        </div>
    </div>

    
</div>
